<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otdel.Properties.Settings.Otdel_zalupaConnectionString"
            connectionString="Data Source=DESKTOP-PVFUO9V;Initial Catalog=Otdel_zalupa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>